$background-white: #e0e2db;
$background-dark: #0d1b2a;
$dark: #0d1b2a;
$white: #e0e2db;
$pink: #cd8987;
$blue: #007ea7;
$orange: #ef8354;
$carolinablue: #5299D3;
$carolinabluelight: #7ac3ff;
$light-blue: #bce7fd;
$dark-blue: #406578;
$black-coral: #56667a;

$twitter: #1da1f2;
$instagram: radial-gradient(
  circle at 30% 107%,
  #fdf497 0%,
  #fdf497 5%,
  #fd5949 45%,
  #d6249f 60%,
  #285aeb 90%
);
$facebook: #4267B2;

* {
  box-sizing: border-box;
  font-family: Times, serif;
}

body {
  width: 100%;
  min-height: 100vh; //delete later
  background: $background-white;
}

//Mixin area
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
