@import "default";

/****** DEFAULT CSS *****/
//Landing top CSS
.land-top {
  width: 100%;
  height: 70vh;
  background-image: url(../img/for_studentspage.jpg);
  background-size: cover;
  background-position: 40% 0%;
  @include flex-center();
  position: relative;
  &::after {
    content: "";
    display: block;
    background: rgba($background-dark, 0.4);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .top-content {
    width: 90%;
    height: 90%;
    position: absolute;
    bottom: 0;
    color: $background-white;
    @include flex-center();
    flex-direction: column;
    z-index: 2;
    padding: 20px;
    h2 {
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 10px;
    }
    p {
      line-height: 25px;
    }
    .toSignup {
      @include flex-center();
      height: 50px;
      width: 300px;
      font-size: 1.2rem;
      background: $orange;
      color: #fff;
      margin-top: 40px;
      text-decoration: none;
      border-radius: 5px;
      box-shadow: 0px 5px (rgb(206, 89, 12));
      &:hover {
        cursor: pointer;
        filter: contrast(130%);
      }
      &:active {
        position: relative;
        top: 5px;
        box-shadow: none;
      }
    }
  }
}

//Serach section CSS
.explain-section {
  width: 100%;
  height: fit-content;
  padding: 60px 0;
  @include flex-center();
  flex-direction: column;
  h2 {
    margin: 0 auto;
    font-size: 1.8rem;
    position: relative;
    span {
      font-size: 3.5rem;
      color: $carolinablue;
      font-weight: 700;
    }
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      bottom: 2px;
      border-bottom: 8px solid $carolinabluelight;
      z-index: -1;
    }
  }
  .explain-contents {
    width: 95%;
    margin: 0 auto;
    height: fit-content;
    @include flex-center();
    flex-direction: column;
    padding: 40px 0;
    .explain-items {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 15px 0;
      .items {
        width: 50%;
        height: 300px;
        @include flex-center();
        margin-top: 40px;
      }
      .item1 {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        padding-left: 5%;
        .points {
          border: 2px solid $dark;
          color: $dark;
          background: #fff;
          padding: 10px;
          font-size: 1.5rem;
          margin-bottom: 20px;
        }
        .colorH3 {
          color: $carolinablue;
          font-weight: bold;
          font-size: 1.7rem;
          margin: 20px 0;
        }
        p {
          font-size: 1.5rem;
        }
      }
      .item2 {
        img {
          width: 80%;
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
    .reverse {
      flex-direction: row-reverse;
    }
  }
  .button-box {
    width: 100%;
    @include flex-center();
    .toSignup {
      @include flex-center();
      height: 50px;
      width: 300px;
      font-size: 1.2rem;
      background: $orange;
      color: #fff;
      margin-top: 40px;
      text-decoration: none;
      border-radius: 5px;
      box-shadow: 0px 5px (rgb(206, 89, 12));
      &:hover {
        cursor: pointer;
        filter: contrast(130%);
      }
      &:active {
        position: relative;
        top: 5px;
        box-shadow: none;
      }
    }
  }
}

// Step section
.step-section {
  width: 100%;
  height: fit-content;
  padding: 40px 0 80px;
  @include flex-center();
  flex-direction: column;
  h2 {
    margin: 0 auto;
    font-size: 1.8rem;
    position: relative;
    span {
      font-size: 3.5rem;
      color: $carolinablue;
      font-weight: 700;
    }
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      bottom: 2px;
      border-bottom: 8px solid $carolinabluelight;
      z-index: -1;
    }
  }
  .step-box {
    width: 95%;
    margin: 0 auto;
    height: fit-content;
    @include flex-center();
    padding: 40px 0 60px;
    .steps {
      width: 30%;
      min-height: 215px;
      @include flex-center();
      flex-direction: column;
      padding: 10px;
      &:nth-child(1) {
        margin: 10px 0 auto;
      }
      &:nth-child(2) {
        margin-top: 30px;
      }
      &:nth-child(3) {
        margin-top: 100px;
      }
      .step-head {
        margin: 10px 0 20px;
        line-height: 30px;
        font-weight: 700;
        span {
          background: $dark;
          color: #fff;
          border-radius: 50%;
          display: inline-block;
          width: 30px;
          height: 30px;
          text-align: center;
          margin-right: 10px;
          font-size: 1.2rem;
        }
      }
      img {
        width: 80%;
        max-height: calc(100% - 30px);
        //clip-path: circle(45%);
      }
    }
  }
  .button-box {
    width: 100%;
    @include flex-center();
    .toSignup {
      @include flex-center();
      height: 50px;
      width: 300px;
      font-size: 1.2rem;
      background: $orange;
      color: #fff;
      margin-top: 20px;
      text-decoration: none;
      border-radius: 5px;
      box-shadow: 0px 5px (rgb(206, 89, 12));
      &:hover {
        cursor: pointer;
        filter: contrast(130%);
      }
      &:active {
        position: relative;
        top: 5px;
        box-shadow: none;
      }
    }
  }
}

// Footer
footer {
  padding-bottom: 0;
  .scroll-top {
    position: fixed;
    bottom: 5vh;
    right: 2vh;
    width: 50px;
    height: 50px;
    opacity: 0;
    @include flex-center();
    cursor: pointer;
    .fa-arrow-circle-up {
      font-size: 45px;
      color: $dark-blue;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
  }
}

/****** DEFAULT CSS End *****/

/****** CSS for mobile *****/
@media screen and (max-width: 480px) {
  //Landing top CSS
  .land-top {
    height: 50vh;
    position: relative;
    .top-content {
      margin-top: 50px;
      padding: 20px;
      h2 {
        font-size: 2.3rem;
      }
      p {
        font-size: 1.1rem;
        line-height: 23px;
      }
    }
  }

  // For scroll button NEED TO MODIFY
}
