<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ask Any-Senpai</title>
  </head>
  <body>
    <th:block th:fragment="pageHeader">
      <div class="logo">
        <img src="/img/profile(plain_circle).png" alt="site logo" />
      </div>
      <nav>
        <div class="switch-div" th:if="${user} == null">
          <div class="signup-btn">
            <a href="/studyabroad/user/signup_page">新規登録</a>
          </div>
          <div class="login-btn">
            <a href="/studyabroad/user/login_page">ログイン</a>
          </div>
        </div>

        <div class="switch-div" th:if="${user} != null">
            <button id="logout-btn">Log out</button>
        </div>
      </nav>
    </th:block>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(() => {
        $("#logout-btn").on("click", (event) => {
          event.preventDefault();

          $.ajax({
            type: "POST",
            url: "/studyabroad/user/logout",
            datatype: "json",
          }).then(
            (result) => {
              alert("Logged out!");
              location.replace("/studyabroad/");
            },
            () => {
              alert("Logout failed.");
            }
          );
        });
      });
    </script>
  </body>
</html>
