<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.min.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    />
    <link rel="stylesheet" href="/css/default.min.css" />
    <link rel="stylesheet" href="/css/page-header.min.css" />
    <link rel="stylesheet" href="/css/page-footer.min.css" />
    <link rel="stylesheet" href="/css/contact.min.css" />
    <title>Ask Any-Senpai</title>
  </head>
  <body>
    <!-- Header -->
    <header th:insert="fragments/page_header::pageHeader"></header>

    <!-- Contact section-->
    <section class="contact">
      <div class="contact-form">
        <h2 class="form-title">お問い合わせ</h2>
        <form id="cotactForm" role="form">
          <!-- Contact category-->
          <div class="form-items">
            <label for="category">お問い合わせ内容<span>必須</span></label>
            <select name="subject" id="subject">
              <optgroup label="全般">
                <option value="サービスについて（ご質問・使い方）">
                  サービスについて（ご質問・使い方）
                </option>
                <option value="サービスについて（不具合）">サービスについて（不具合）</option>
              </optgroup>
              <optgroup label="個別">
                <option value="不適切なユーザーの報告">不適切なユーザーの報告</option>
              </optgroup>
              <optgroup label="その他">
                <option value="取材について">取材について</option>
                <option value="仕事依頼・協業について">仕事依頼・協業について</option>
                <option value="その他">その他</option>
              </optgroup>
            </select>
          </div>
          <!-- Name -->
          <div class="form-items" th:if="${user == null}">
            <label for="category">お名前<span>必須</span></label>
            <input type="text" name="name" />
          </div>
          <div class="form-items" th:if="${user != null}">
            <label for="category">お名前<span>必須</span></label>
            <input type="text" name="name" th:value="${user.userName}" />
          </div>
          <!-- Email -->
          <div class="form-items" th:if="${user == null}">
            <label for="category">メールアドレス<span>必須</span></label>
            <input type="email" name="email" />
          </div>
          <div class="form-items" th:if="${user != null}">
            <label for="category">メールアドレス<span>必須</span></label>
            <input type="email" name="email" th:value="${user.email}" />
          </div>
          <!-- Message -->
          <div class="form-items">
            <label for="content">具体的な内容<span>必須</span></label>
            <textarea
              name="content"
              id="content"
              cols="30"
              rows="10"
            ></textarea>
          </div>
          <!-- Contact cautions-->
          <div class="caution-items">
            <p>
              ※お急ぎのご用件の場合は 0120-1234-1234 までお問い合わせください。
            </p>
            <p>
              ※ご入力いただいたメールアドレス宛に返信いたします。お間違い無いようご確認ください。
            </p>
            <p>
              ※「ask-any-senpai.com」からのメールを受け取れるようにしておいてください。
            </p>
          </div>
          <div class="form-btn">
            <button id="submitBtn" type="submit" class="submit-btn">送信</button>
          </div>
        </form>
      </div>
    </section>
    <!-- Footer -->
    <footer th:insert="fragments/page_footer::pageFooter"></footer>


    <!-- jQuery CDN and script links -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(() => {
        $('#submitBtn').on("click", sendInquiry);
      });

      function sendInquiry(){

        $("#submitBtn").prop("disabled", true);

        // フォームのデータをJSONに変換
        let formContent = {
              subject: $("#subject option:selected").val(),
              name: $("input[name=name]").val(),
              email: $("input[name=email]").val(),
              content: $("textarea[name=content]").val(),
            };

        // Ajaxを使ってメール送信
        $.ajax({
            type: "POST",
            url: "/studyabroad/contact/send/",
            dataType: "json",
            data: JSON.stringify(formContent),
            contentType: 'application/json',
            scriptCharset: 'utf-8',
        })
        .then(
          (result) => {
            if (result[0] == "SENT") alert("メールの送信が完了しました。");
            location.replace("/studyabroad/contact");
          },
          () => {
            alert("フォームの送信に失敗しました。");
            $("#btnSend").prop("disabled", false);
          }
        );
      }
    </script>
  </body>
</html>
