<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.min.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    />
    <link rel="stylesheet" href="/css/default.min.css" />
    <link rel="stylesheet" href="/css/page-header.min.css" />
    <link rel="stylesheet" href="/css/page-footer.min.css" />
    <link rel="stylesheet" href="/css/style.min.css" />
    <link rel="stylesheet" href="/css/bottom-follow.min.css" />
    <title>Ask Any-Senpai</title>
  </head>
  <body>
    <!-- Header -->
    <header th:insert="fragments/page_header::pageHeader"></header>

    <!-- Landing top -->
    <section class="land-top">
      <div class="top-content">
        <h2>留学についてなんでも聞いてみましょう。</h2>
        <p>
          少しでも不安なことがあれば、なんでも先輩に聞いてみましょう。<br />
          これから海外留学を考えている方をサポートするためのサービスです。
        </p>
      </div>
    </section>

    <!-- Search section-->
    <section class="search-section">
      <h2>先輩を探す</h2>
      <div class="serach-form">
        <form action="/studyabroad/search/">
          <!-- Free word -->
          <fieldset class="form-items">
            <legend>
              <i class="fas fa-search"></i>
              フリーワード
            </legend>
            <input
              type="text"
              name="keywords"
              id="free-search-input"
              placeholder="ユーザー名、国名、プロフィール内容など"
            />
          </fieldset>

          <!-- Area and nations -->
          <fieldset class="form-items">
            <legend><i class="fas fa-globe-africa"></i> 地域・国名</legend>
            <div class="area-nations">
              <div class="area-box">
              </div>
              <!-- Nations -->
              <div class="nation-box">
              </div>
            </div>
          </fieldset>

          <!-- Purpose -->
          <fieldset class="form-items">
            <legend><i class="fas fa-graduation-cap"></i>目的</legend>
            <div class="purpose-box">
            </div>
          </fieldset>

          <!-- Search button -->
          <div class="form-btn">
            <button
              type="submit"
              name="submit"
              class="submit-btn"
              id="search-btn"
            >
              <i class="fas fa-search"></i>
              検索
            </button>
          </div>
        </form>
      </div>
    </section>

    <!-- Result section -->
    <div class="search-result">
      <h2 th:if="${matchedUsers != null}">検索結果: <span th:text="${matchedUserCount} + '人'"></span></h2>
      <div class="result-box" th:if="${matchedUsers != null}">
        <div class="users-box" th:each="matchedUser, stat: ${matchedUsers}">
          <div class="info-area">
            <div class="profile-img" th:if="${matchedUser.twitter != null}">
              <img
                th:src="@{'https://unavatar.now.sh/twitter/' + ${matchedUser.twitter}}"
                alt="Twitterプロフィール画像"
              />
            </div>
            <div class="profile-img" th:if="${matchedUser.twitter == null}">
              <img class="default-pic" src="/img/default-boy.png" alt="" />
            </div>
            <h3 class="userName" th:text="${matchedUser.userName}"></h3>
            <div class="sns-box">
              <a
                th:if="${matchedUser.twitter != null && matchedUser.twitter != ''}"
                th:href="@{'https://twitter.com/' + ${matchedUser.twitter}}"
                class="twitter"
                target="_blank"
                ><i class="fab fa-twitter"></i
              ></a>
              <a
                th:if="${matchedUser.instagram != null && matchedUser.instagram != ''}"
                th:href="@{'https://instagram.com/' + ${matchedUser.instagram}}"
                class="instagram"
                target="_blank"
                ><i class="fab fa-instagram"></i
              ></a>
              <a
                th:if="${matchedUser.facebook != null && matchedUser.facebook != ''}"
                th:href="@{'https://facebook.com/' + ${matchedUser.facebook}}"
                class="facebook"
                target="_blank"
                ><i class="fab fa-facebook"></i
              ></a>
            </div>
          </div>
          <div class="link-area">
            <a
              class="senpai-link"
              href="/studyabroad/senpai"
              th:href="@{/studyabroad/senpai/{id}(id=${matchedUser.id})}"
              th:classappend="link-area-bg + ${stat.count < 10? stat.count : matchedUserCount - stat.count}"
            ></a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bottom follower-->
    <section class="bottom-follow">
      <p>サービスについてのご紹介、使い方はこちらから！</p>
      <div class="bottom-btn">
        <div class="student-btn">
          <a href="/studyabroad/for_students">留学検討中の方はこちら</a>
        </div>
        <div class="senpai-btn">
          <a href="#">留学経験者の方はこちら</a>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer th:insert="fragments/page_footer::pageFooter"></footer>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/js/area-nation.js"></script>
    <script>
      $(() => {
        $("#short-study").on("change", shortBtnChange);
        $("#long-study").on("change", longBtnChange);

        // If relocate form other page to search senpai
        if($(".fromSenpaiSearch").length > 0){
          let position = $(".search-section").position().top;
          $("html, body").animate({
            scrollTop: position
          }, 500);
        }

        // Append areas/nations to search form
        let areaBox = $(".area-box");
        let areaDiv = "<div class='areas'></div>";
        let nationBox = $(".nation-box");
        let nationDiv = "<div class='nations'></div>";

        $.each(areasNations, (index, value) => {
          let areaInput = "<input type='checkbox' name='areas' class='area' value='" + index + "' id='" + index + "'/>";
          let areaLabels = "<label for='" + index + "' class='area-name'>" + index + "</label>";
          let areaContent = $(areaDiv).append($(areaInput)).append($(areaLabels));
          $(areaBox).append($(areaContent));
          
          $.each(value, (num, nation) => {
            let nationInput = "<input type='checkbox' name='nations' class='area' value='" + nation + "' id='" + nation + "'/>";
            let nationLabels = "<label for='" + nation + "' class='area-name'>" + nation + "</label>";
            let nationContent = $(nationDiv).append($(nationInput)).append($(nationLabels));
            $(nationBox).append($(nationContent));
          });
        });

        // Append purposes to search form
        let purposeBox = $(".purpose-box");
        let purposeDiv = "<div class='purposes'></div>";
        $.each(purposes, (index, value) => {
          let purposeInput = "<input type='checkbox' name='purposes' class='purpose' value='" + value + "' id='" + value + "' />";
          let purposeLabels = "<label for='" + value + "' class='area-name'>" + value + "</label>";
          let purposeContent = $(purposeDiv).append($(purposeInput)).append($(purposeLabels));
          $(purposeBox).append($(purposeContent));
        });

      });

      function shortBtnChange() {
        let disabled = true;
        if ($("#short-study").prop("checked")) {
          disabled = false;
          console.log("true");
        }
        $(".short-uni").prop("disabled", disabled);
      }

      function longBtnChange() {
        let disabled = true;
        if ($("#long-study").prop("checked")) {
          disabled = false;
          console.log("true");
        }
        $(".long-uni").prop("disabled", disabled);
      }

    </script>
  </body>
</html>
