<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.min.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    />
    <link rel="stylesheet" href="/css/default.min.css" />
    <link rel="stylesheet" href="/css/page-header.min.css" />
    <link rel="stylesheet" href="/css/page-footer.min.css" />
    <link rel="stylesheet" href="/css/style.min.css" />
    <link rel="stylesheet" href="/css/bottom-follow.min.css" />
    <title>Ask Any-Senpai</title>
  </head>
  <body>
    <!-- Header -->
    <header th:insert="fragments/page_header::pageHeader"></header>

    <!-- Landing top -->
    <section class="land-top">
      <div class="top-content">
        <h2>留学についてなんでも答えます。</h2>
        <p>
          少しでも不安なことがあれば、なんでも先輩に聞いてみましょう。<br />
          これから海外留学を考えている方のためのサービスです。
        </p>
      </div>
    </section>

    <!-- Search section-->
    <section class="search-section">
      <h2>先輩を探す</h2>
      <div class="serach-form">
        <form action="">
          <!-- Free word -->
          <fieldset class="form-items">
            <legend>
              <i class="fas fa-search"></i>
              フリーワード
            </legend>
            <input
              type="text"
              name="free-search"
              id="free-search-input"
              placeholder="国名、大学名、プロフィール内容"
            />
          </fieldset>

          <!-- Area and nations -->
          <fieldset class="form-items">
            <legend><i class="fas fa-globe-africa"></i> 地域・国名</legend>
            <div class="area-nations">
              <div class="area-box">
                <div class="areas">
                  <input type="checkbox" name="asia" id="asia" class="area" />
                  <label for="asia" class="area-name">アジア</label>
                </div>
                <div class="areas">
                  <input type="checkbox" name="asia" id="europe" class="area" />
                  <label for="europe" class="area-name">ヨーロッパ</label>
                </div>
                <div class="areas">
                  <input
                    type="checkbox"
                    name="asia"
                    id="america"
                    class="area"
                  />
                  <label for="america" class="area-name">アメリカ</label>
                </div>
                <div class="areas">
                  <input type="checkbox" name="asia" id="africa" class="area" />
                  <label for="africa" class="area-name">アフリカ</label>
                </div>
              </div>
              <div class="nation-box">
                <div class="nations">
                  <input type="checkbox" name="asia" id="japan" class="area" />
                  <label for="japan" class="area-name">日本</label>
                </div>
                <div class="nations">
                  <input
                    type="checkbox"
                    name="america"
                    id="america"
                    class="area"
                  />
                  <label for="america" class="area-name">アメリカ</label>
                </div>
                <div class="nations">
                  <input type="checkbox" name="china" id="china" class="area" />
                  <label for="china" class="area-name">中国</label>
                </div>
                <div class="nations">
                  <input
                    type="checkbox"
                    name="england"
                    id="england"
                    class="area"
                  />
                  <label for="england" class="area-name">イギリス</label>
                </div>
                <div class="nations">
                  <input
                    type="checkbox"
                    name="germany"
                    id="germany"
                    class="area"
                  />
                  <label for="germany" class="area-name">ドイツ </label>
                </div>
                <div class="nations">
                  <input type="checkbox" name="korea" id="korea" class="area" />
                  <label for="korea" class="area-name">韓国</label>
                </div>
                <div class="nations">
                  <input
                    type="checkbox"
                    name="taiwan"
                    id="taiwan"
                    class="area"
                  />
                  <label for="taiwan" class="area-name">台湾</label>
                </div>
                <div class="nations">
                  <input
                    type="checkbox"
                    name="singapore"
                    id="singapore"
                    class="area"
                  />
                  <label for="singapore" class="area-name">シンガポール</label>
                </div>
                <div class="nations">
                  <input
                    type="checkbox"
                    name="vietnam"
                    id="vietnam"
                    class="area"
                  />
                  <label for="vietnam" class="area-name">ベトナム</label>
                </div>
                <div class="nations">
                  <input
                    type="checkbox"
                    name="southafrica"
                    id="southafrica"
                    class="area"
                  />
                  <label for="southafrica" class="area-name">南アフリカ</label>
                </div>
              </div>
            </div>
          </fieldset>

          <!-- Objects -->
          <fieldset class="form-items">
            <legend><i class="fas fa-graduation-cap"></i>目的</legend>
            <div class="object-box">
              <div class="object-items">
                <input
                  type="checkbox"
                  name="short-study"
                  id="short-study"
                  class="objects"
                />
                <label for="short-study" class="object-name">短期留学</label>
                <div class="uni-select">
                  <input
                    type="checkbox"
                    name="short-undergrad"
                    id="short-undergrad"
                    class="objects short-uni"
                    disabled
                  />
                  <label for="short-undergrad" class="object-name">大学</label>
                  <input
                    type="checkbox"
                    name="short-grad"
                    id="short-grad"
                    class="objects short-uni"
                    disabled
                  />
                  <label for="short-grad" class="object-name">大学院</label>
                </div>
              </div>
              <div class="object-items">
                <input
                  type="checkbox"
                  name="long-study"
                  id="long-study"
                  class="objects"
                />
                <label for="long-study" class="object-name">長期留学</label>
                <div class="uni-select">
                  <input
                    type="checkbox"
                    name="long-undergrad"
                    id="long-undergrad"
                    class="objects long-uni"
                    disabled
                  />
                  <label for="long-undergrad" class="object-name">大学</label>
                  <input
                    type="checkbox"
                    name="long-grad"
                    id="long-grad"
                    class="objects long-uni"
                    disabled
                  />
                  <label for="long-grad" class="object-name">大学院</label>
                </div>
              </div>
              <div class="object-items">
                <input
                  type="checkbox"
                  name="work-holiday"
                  id="work-holiday"
                  class="objects"
                />
                <label for="work-holiday" class="object-name"
                  >ワーキングホリデー</label
                >
              </div>
            </div>
          </fieldset>
          <div class="form-btn">
            <button type="submit" name="submit" class="login-btn">検索</button>
          </div>
        </form>
      </div>
    </section>

    <!-- Bottom follower-->
    <section class="bottom-follow">
      <p>サービスについてのご紹介、使い方はこちらから！</p>
      <div class="bottom-btn">
        <div class="student-btn">
          <a href="#">留学を検討中の方はこちら</a>
        </div>
        <div class="senpai-btn">
          <a href="#">留学経験者の方はこちら</a>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer th:insert="fragments/page_footer::pageFooter"></footer>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
      $(() => {
        $("#short-study").on("change", shortBtnChange);
        $("#long-study").on("change", longBtnChange);
      });

      function shortBtnChange() {
        let disabled = true;
        if ($("#short-study").prop("checked")) {
          disabled = false;
          console.log("true");
        }
        $(".short-uni").prop("disabled", disabled);
      }

      function longBtnChange() {
        let disabled = true;
        if ($("#long-study").prop("checked")) {
          disabled = false;
          console.log("true");
        }
        $(".long-uni").prop("disabled", disabled);
      }
    </script>
  </body>
</html>
