<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.min.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    />
    <link rel="stylesheet" href="/css/index-header.min.css" />
    <link rel="stylesheet" href="/css/login.min.css" />
    <title>Ask Any-Senpai</title>
  </head>
  <body>
    <!-- Header -->
    <header th:insert="fragments/page_header::pageHeader"></header>

    <!-- Login -->
    <section class="login">
        <div class="login-form">
          <h2 class="form-title">Login</h2>
          <!-- Add action-->
          <form action="">
            <div class="input-box">
              <input
                class="input-item"
                name="userName"
                type="text"
                autocomplete="off"
                required
              />
              <label class="input-label" for="userName">
                <span class="input-span">User name</span>
              </label>
            </div>
            <div class="input-box">
              <input
                class="input-item"
                name="password"
                type="text"
                autocomplete="off"
                required
              />
              <label class="input-label" for="password">
                <span class="input-span">Password</span>
              </label>
            </div>
            <div class="form-btn">
              <button type="submit" name="login" id="loginBtn" class="login-btn">
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </section>
    
        <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(() => {
        $('#loginBtn').on("click", (event) => {
        	event.preventDefault(); //Needed this
        	
        	let loginInfo = {
        		"userName" : $("input[name=userName]").val(),
        		"password" : $("input[name=password]").val()
        	};
        	$.ajax({
        		type: "POST",
        		url: "/studyabroad/user/login",
        		data: JSON.stringify(loginInfo),
        		contentType: "application/json",
        		datatype: "json"
        	})
        	.then(
        			(result) => {
        				let user = JSON.parse(result);
        				if(user == null) {
        					alert("Login failed!");
        				}else {
        					alert("Login success!");
        					location.replace("/studyabroad/user/mypage");
        				}
        			},
        			() => {
        				alert("Login failed.");
        			}
        	);
        	//alert("Finish!");
        });
      });
    </script>
    
  </body>
</html>
