<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.min.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    />
    <link rel="stylesheet" href="/css/page-header.min.css" />
    <link rel="stylesheet" href="/css/mypage.min.css" />
    <title>Ask Any-Senpai</title>
  </head>
  <body>
    <!-- Header -->
    <header th:insert="fragments/page_header::pageHeader"></header>

    <!-- My-page content-->
 	<div class="mypage-box">
    <h2>プロフィール</h2>
    <div class="mypage-items">
      <p>ユーザー名：<span th:text="${user.userName}"/></span></p>
    </div>
    <div class="mypage-items">
      <p>パスワード：<span th:text="${user.password}"/></span></p>
    </div>
    <div class="mypage-items">
      <p>メールアドレス：<span th:text="${user.email}"/></span></p>
    </div>
	</div>
    
        <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    
  </body>
</html>
