<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.min.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    />
    <link rel="stylesheet" href="/css/page-header.min.css" />
    <link rel="stylesheet" href="/css/register.min.css" />
    <title>Ask Any-Senpai</title>
  </head>
  <body>
    <!-- Header -->
    <header th:insert="fragments/page_header::pageHeader"></header>

    <!-- Register -->
    <section class="register">
      <div class="left"></div>
      <div class="right">
        <div class="signup-form">
          <h2 class="form-title">Sign up</h2>
          <!-- Add action-->
          <form action="">
            <div class="input-box">
              <i class="fas fa-user"></i>
              <input
                class="input-item"
                name="userName"
                type="text"
                autocomplete="off"
                placeholder="User name"
              />
            </div>
            <div class="input-box">
              <i class="fas fa-unlock-alt"></i>
              <input
                class="input-item"
                name="password"
                type="password"
                autocomplete="off"
                placeholder="Password"
              />
            </div>
            <div class="input-box">
              <i class="fas fa-envelope"></i>
              <input
                class="input-item"
                name="email"
                type="text"
                autocomplete="off"
                placeholder="Email"
              />
            </div>
            <div class="form-btn">
              <button
                type="submit"
                name="signup"
                id="signupBtn"
                class="signup-btn"
              >
                Sign up
              </button>
            </div>
          </form>
        </div>
      </div>
    </section>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
      $(() => {
        $("#signupBtn").on("click", () => {
          let jsonString = {
            userName: $("input[name=userName]").val(),
            password: $("input[name=password]").val(),
            fullName: $("input[name=fullName]").val(),
            email: $("input[name=email]").val(),
          };
          $.ajax({
            type: "POST",
            url: "/studyabroad/user/register",
            data: JSON.stringify(jsonString),
            contentType: "application/json",
            scriptCharset: "utf-8",
          }).then(
            (result) => {
              // does not show up
              alert("Successfully registered!");
            },
            () => {
              alert("Registration has failed.");
            }
          );
        });
      });
    </script>
  </body>
</html>
