@import "default";

@media screen and (min-width: 671px) {
  header {
    height: 10vh;
    width: 100%;
    background: $background-dark;
    color: $background-white;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    .logo {
      width: 20%;
      height: 100%;
      display: flex;
      align-items: center;
      img {
        width: 50px;
      }
    }
    nav {
      width: 40%;
      height: 100%;
      .switch-div {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .signup-btn,
        .login-btn,
        #mypage-btn,
        #logout-btn {
          border-radius: 20px;
          width: 45%;
          height: 60%;
          color: #fff;
          outline: none;
          border: none;
          &:hover {
            cursor: pointer;
            filter: contrast(200%);
          }
        }
        .signup-btn {
          background: $pink;
        }
        .login-btn {
          background: $blue;
        }
        #mypage-btn {
          background: $orange;
        }
        #logout-btn {
          background: $black-coral;
        }
      }
    }
  }
}
