<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.masafumimori.studyabroad.model.mapper.UserSearchMapper">

	<select id="findMatchedUser" resultType="com.masafumimori.studyabroad.model.domain.dto.UserSearchDto">
		SELECT
			user.id,
			user.user_name,
			sns.twitter,
			sns.instagram,
			sns.facebook
		FROM
			mst_user AS user
		JOIN
			mst_user_sns AS sns
		ON
			user.id = sns.user_id
		<where>
			<if test="areas != null">
			user.area in
				<foreach item="area" collection="areas" open="(" close=")" separator="," index="index">
					#{area}
				</foreach>
			</if>
			<if test="nations != null">
			OR user.nation in
				<foreach item="nation" collection="nations" open="(" close=")" separator="," index="index">
					#{nation}
				</foreach>
			</if>
			<if test="purposes != null">
			OR user.purpose in
				<foreach item="purpose" collection="purposes" open="(" close=")" separator="," index="index">
					#{purpose}
				</foreach>
			</if>
		</where>
		ORDER BY user.updated_at DESC
	</select>
</mapper>